<template>
    <div class="container">
        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <profileHeader></profileHeader>
            <div class="navbar-mobile hidden-lg hidden-md">
                <div class="profile-info">
                    <img src="images/users/user-1.jpg" alt="" class="img-responsive profile-photo"/>
                    <h4>Sarah Cruiz</h4>
                    <p class="text-muted">Creative Director</p>
                </div>
                <div class="mobile-menu">
                    <ul class="list-inline">
                        <li><a href="timline.html">Timeline</a></li>
                        <li><a href="timeline-about.html" class="active">About</a></li>
                        <li><a href="timeline-album.html">Album</a></li>
                        <li><a href="timeline-friends.html">Friends</a></li>
                    </ul>
                    <button class="btn-primary">Add Friend</button>
                </div>
            </div><!--Timeline Menu for Small Screens End-->
        </div>
        <div id="page-contents" v-if="load == 1">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <!-- About
                    ================================================= -->
                    <div class="about-profile">

                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Personal
                                Information</h4>
                            <p>{{ user.description }}</p>
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Work Experiences
                            </h4>
                            <div class="organization">
                                <div class="work-info">
                                    <h5>{{ profile.work_company }}</h5>
                                    <p>{{ profile.work_designation }} <br><span class="text-grey">
                        {{ profile.work_from }} To {{ profile.work_to }}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-location-outline icon-in-title"></i>Location</h4>
                            <p>{{ profile.work_city }}</p>
                        </div>
                        <div class="edit-block">
                            <ul class="list-inline interests">
                                <li v-for="userInterest in userInterests">
                                    <span> {{ userInterest.interest }}</span>
                                </li>
                            </ul>
                            <div class="line"></div>
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-chatbubble-outline icon-in-title"></i>Language</h4>
                            <ul>
                                <li><a href="#">Russian</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 static">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import profileHeader from './ProfileHeader.vue'
    export default {
        mounted() {
            this.get_about();
        },
        data() {
            return {
                user: {},
                load: 0,
                profile: {},
                userInterests: {},
            }
        },
        methods: {
            get_about() {
                let _this = this;
                _this.$Progress.start();
                let Token = localStorage.getItem('token');
                axios.get('/api/get_user_info?token=' + Token)
                    .then(function (response) {
                        _this.user = response.data.user;
                        _this.profile = response.data.profile;
                        _this.userInterests = response.data.userInterest;
                        _this.$Progress.finish();
                        _this.load = 1;
                    })
                    .catch(function (error) {
                        _this.$Progress.fail();
                        console.log(error);
                    });
            }
        },
        components: {
            profileHeader
        }
    }
</script>
