<template>
    <div class="container">
        <!-- Timeline
        ================================================= -->
        <div class="timeline">
              <profileHeader @added="imgInAlbum"></profileHeader>
            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-7">
                        <ul class="album-photos">
                            <li v-for="(user_image , index ) in images">
                                <div class="img-wrapper" data-toggle="modal" :data-target="'#'+index">
                                    <img v-bind:src="'storage/uploads/' + user_image.image" alt="photo"
                                         style="width: 200px; height: 150px;"/> <br>
                                </div>
                                <div class="modal fade" :id="index" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <img v-bind:src="'storage/uploads/'+ user_image.image" alt="photo"/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 static">
                        <div id="sticky-sidebar">
                            <h4 class="grey">{{ username }}'s activity</h4>
                            <div class="feed-item" v-for="l in log">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">{{ username }}</a> {{ l.action}}</p>
                                    <!--                                        <p class="text-muted">5 mins ago</p>-->
                                    <vue-moments-ago prefix="posted" suffix="ago" date="2019-06-27 20:18:50" ></vue-moments-ago>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import profileHeader from './ProfileHeader.vue'
    import VueMomentsAgo from 'vue-moments-ago'
    export default {
        mounted() {
            this.get_all_images();
            this.activity_log();
        },
        data() {
            return {
                images: [],
                log             : [],
                username        : '',
            }
        },
        methods: {
            get_all_images() {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.get('/api/get_all_images?token=' + Token)
                    .then(function (response) {
                        _this.images = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            activity_log(){
                let Token = localStorage.getItem('token');
                let _this = this;
                axios.get('/api/activity-log?token='+Token)
                    .then(function (response) {
                        _this.log           = response.data.log;
                        _this.username      = response.data.username;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            imgInAlbum(img) {
                let _this = this;
                axios.get('/get_all_images')
                    .then(function (response) {
                        _this.images = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            ImageDelete(id) {
                alert(id);
            }


        },
        components: {
            profileHeader,VueMomentsAgo
        }
    }
</script>
