        <template>
            <div class="container">
                <!-- Timeline
                ================================================= -->
                <div class="timeline">
                    <profileHeader></profileHeader>
                    <div id="page-contents">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-7">
                                <div class="friend-list">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6" v-for="(u, index) in users">
                                            <div class="friend-card">
                                                <img src="assets/images/covers/1.jpg" alt="profile-cover"
                                                     class="img-responsive cover"/>
                                                <div class="card-info">
                                                    <img v-if="u.user_image == null" src="storage/uploads/dummy.jpg"
                                                         alt="No image of this user" class="profile-photo-lg">
                                                    <img v-else :src="'storage/uploads/'+u.user_image.image" alt="user"
                                                         class="profile-photo-lg"/>
                                                    <div class="friend-info">
                                                        <a href="#" class="pull-right text-green">My Friend</a>
                                                        <h5>
                                                            <router-link
                                                                    :to="{ name: 'friendsProfile', params: { userId: u.id }}"><a
                                                                    class="profile-link" to="friendsProfile/1">{{ u.f_name
                                                                }}</a></router-link>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 static">
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <script>
            import profileHeader from './ProfileHeader.vue'
            export default {
                mounted() {
                    this.allFriends();
                },
                data() {
                    return {
                        users: [],
                        profile: [],
                        imgs: []
                    }
                },
                methods: {
                    allFriends() {
                        let _this = this;
                        let Token = localStorage.getItem('token');
                        axios.post('/api/all_friends?token=' + Token)
                            .then(function (response) {
                                _this.users = response.data.all_friends;
                                _this.profile = response.data.Profiles;
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                },
                components: {
                    profileHeader
                }
            }
        </script>
