<template>
    <div>
        <!--<header id="header" class="lazy-load">-->
        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index-register.html"><img src="assets/images/logo.png"                                         alt="logo"/></a>
                </div>
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Home <span><img src="assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">
                            <li><a href="index.html">Landing Page 1</a></li>
                            <li><a href="index-register.html">Landing Page 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Newsfeed <span><img src="assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">
                            <li>
                                <router-link to='/newsfeed'>Newsfeed</router-link>
                            </li>
                            <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                            <li>
                                <router-link to='/messages'>Chatroom</router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Timeline <span><img src="assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu login">
                            <li>
                                <router-link to='/timeline'>Timeline</router-link>
                            </li>
                            <li>
                                <router-link to='/about'>Timeline About</router-link>
                            </li>
                            <li>
                                <router-link to='/album'>Timeline Album</router-link>
                            </li>
                            <li>
                                <router-link to='/friends'>Timeline Friends</router-link>
                            </li>
                            <li>
                                <router-link to='/profile'>Edit: Profile</router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">All Pages <span><img
                                src="assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li>
                                <router-link to='/friends'>My friends</router-link>
                            </li>
                            <li>
                                <router-link to='/album'>Images</router-link>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"
                                                                         style="font-size: 18px;"></i>{{
                            count_notifications }}</a>
                        <notification @counter="count"></notification>
                    </li>
                    <li>
                        <i class="fas fa-sign-out-alt" @click.prevent="logoutfn()"
                           style="font-size: 20px; color : white; margin-top: 16px; cursor: pointer;"></i></li>
                </ul>
                <form class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" v-model="search_field" placeholder="Search friends" @keyup.enter="search()">
                    </div>
                </form>
            </div>
        </nav>
    </div>
</template>

<script>
    import notification from './Notifications.vue'
    export default {
        mounted() {
            this.checkAuth();
        },
        data() {
            return {
                nn: {},
                count_notifications: '',
                sender_name: '',
                search_field : ''
            }
        },
        methods: {
            count(data) {
                this.count_notifications = data;
            },
            checkAuth() {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.get('/api/get_Image?token=' + Token)
                    .then(function (response) {
                        if (response.data.status == "Token is Invalid") {
                            Token = null;
                            _this.$router.push('/');
                        } else if (response.data.status == "Token is Expired") {
                            Token = null;
                            _this.$router.push('/');
                        } else if (response.data.status == "Authorization Token not found") {
                            Token = null;
                            _this.$router.push('/');
                        } else {
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            logoutfn() {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.post('api/logout?token=' + Token)
                    .then(function (response) {
                        _this.$router.push('/');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            search(){
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.post('api/searchFriend?token=' + Token , {'searchFriend' : _this.search_field})
                    .then(function (response) {
                        if (response.data.result == null){
                            _this.$toast.error({
                                title:'Error',
                                message:'Friend Not Found'
                            })
                        }else{
                            _this.$router.push('/friendsProfile/'+response.data.result);
                            console.log(response.data.result);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        components: {
            notification
        },
    }
</script>
