<template>


    <div>
        <div id="page-contents">
            <div class="container">
                <div class="row">
                    <HeaderComp></HeaderComp>
                    <br>
                    <!-- Newsfeed Common Side Bar Left
              ================================================= -->
                    <newsfeedsimilar></newsfeedsimilar>
                    <div class="col-md-7">
                        <!-- Chat Room
                        ================================================= -->
                        <div class="chat-room">
                            <div class="row">
                                <div class="col-md-5">
                                    <ul class="nav nav-tabs contact-list scrollbar-wrapper scrollbar-outer">
                                        <li v-for="friend in friends" :class="{active : isActive}"
                                            v-on:click="input_show = true">
                                            <a :href="'#content'+friend.id" data-toggle="tab"
                                               @click="sender_div(friend.id)">
                                                <div class="contact">
                                                    <img v-if="friend.user_image == null "
                                                         src="storage/uploads/dummy.jpg" alt="No user image"
                                                         class="profile-photo-sm pull-left"/>
                                                    <img v-else :src="'storage/uploads/'+friend.user_image.image" alt=""
                                                         class="profile-photo-sm pull-left"/>
                                                    <div class="msg-preview">
                                                        <h6>{{ friend.f_name }}</h6>
                                                        <p class="text-muted">{{ friend.email }}</p>

                                                    </div>
                                                </div>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-7">
                                    <!--Chat Messages in Right-->
                                    <div class="tab-content scrollbar-wrapper wrapper scrollbar-outer" v-chat-scroll>
                                        <div class=" ">
                                            <div class="chat-body">
                                                <ul class="chat-message" v-chat-scroll>
                                                    <div v-for="(message ,index) in chat.message_all">
                                                        <div v-if="message.sender_id == auth_id">
                                                            <li class="right">
                                                                <div class="chat-item">
                                                                    <p>{{ message.message }}
                                                                        <small>{{ chat.time[index] }}</small>
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </div>
                                                        <div v-else>
                                                            <li class="left">
                                                                <div class="chat-item">
                                                                    <p><i class="em em-hand"></i>{{ message.message }}
                                                                        <small>{{ chat.time[index] }}</small>
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="contact-6">
                                            <div class="chat-body">
                                                <ul class="chat-message">
                                                    <li class="left">
                                                        <img src="assets/images/users/user-8.jpg" alt=""
                                                             class="profile-photo-sm pull-left"/>
                                                        <div class="chat-item">
                                                            <div class="chat-item-header">
                                                                <h5>Richard Bell</h5>
                                                                <small class="text-muted">2 days ago</small>
                                                            </div>
                                                            <p>Hello</p>
                                                        </div>
                                                    </li>
                                                    <li class="left">
                                                        <img src="assets/images/users/user-8.jpg" alt=""
                                                             class="profile-photo-sm pull-left"/>
                                                        <div class="chat-item">
                                                            <div class="chat-item-header">
                                                                <h5>Richard Bell</h5>
                                                                <small class="text-muted">2 days ago</small>
                                                            </div>
                                                            <p>Hi</p>
                                                        </div>
                                                    </li>
                                                    <li class="left">
                                                        <img src="assets/images/users/user-8.jpg" alt=""
                                                             class="profile-photo-sm pull-left"/>
                                                        <div class="chat-item">
                                                            <div class="chat-item-header">
                                                                <h5>Richard Bell</h5>
                                                                <small class="text-muted">2 days ago</small>
                                                            </div>
                                                            <p>Hey</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div><!--Chat Messages in Right End-->

                                    <div class="send-message" v-if="input_show">
                                        <div class="input-group">

                                            <input type="text" class="form-control" placeholder="Type your message"
                                                   v-model="message" @keyup.enter="send()" :id="user_id">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Newsfeed Common Side Bar Right
              ================================================= -->
                    <div class="col-md-2 static">
                        <div class="suggestions" id="sticky-sidebar">
                            <h4 class="grey">Who to Follow</h4>

                            <div class="follow-user" v-for="follower in followers">
                                <img v-if="follower.user_image == null" src="storage/uploads/dummy.jpg" alt=""
                                     class="profile-photo-sm pull-left"/>
                                <img v-else :src="'storage/uploads/'+follower.user_image.image" alt=""
                                     class="profile-photo-sm pull-left"/>
                                <div>
                                    <h5>
                                        <router-link :to="{ name: 'friendsProfile', params: { userId: follower.id }}">
                                            <a>{{ follower.f_name }}</a></router-link>
                                        <a href="timeline.html"></a></h5>
                                    <router-link :to="{ name: 'friendsProfile', params: { userId: follower.id }}"><a
                                            href="#" class="text-green">Add friend</a></router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .active {
        border: 1px solid #8dc63f;
    }
</style>
<script>
    import newsfeedsimilar from './newsfeedSimilar'
    import HeaderComp from './HeaderComponent'
    export default {
        mounted() {
            this.get_friends();
            this.who_to_follow();
            let _this = this;
            let Token = localStorage.getItem('token');
            axios.get('/api/get_Image?token=' + Token)
                .then(function (response) {
                    if (response.data.status == "Token is Invalid") {
                        Token = null;
                        _this.$router.push('/');
                    } else if (response.data.status == "Token is Expired") {
                        Token = null;
                        _this.$router.push('/');
                    } else if (response.data.status == "Authorization Token not found") {
                        Token = null;
                        _this.$router.push('/');
                    } else {
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        data() {
            return {
                message: '',
                friends: {},
                followers: {},
                typing: '',
                auth_id: '',
                user_id: '',
                input_show: false,
                isActive: false,
                chat: {
                    message_all: [],
                    user: [],
                    time: []
                }

            }
        },
        watch: {
            message() {
                Echo.private('Chat')
                    .whisper('typing', {
                        name: this.message
                    });
            }
        },
        methods: {
            who_to_follow() {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.get('/api/who_to_follow?token=' + Token)
                    .then(function (response) {
                        _this.followers = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            send() {
                if (this.message.length != 0) {
                    let _this = this;
                    let Token = localStorage.getItem('token');
                    this.chat.message_all.push(this.message);
                    _this.chat.user.push('you');
                    _this.chat.time.push(_this.getTime());
                    axios.post('api/send_message?token=' + Token, {'message': _this.message, 'user_id': _this.user_id})
                        .then(function (response) {
                            _this.message = '';
                            _this.sender_div(_this.user_id);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            sender_div(id) {
                let _this = this;
                _this.user_id = id;
                let Token = localStorage.getItem('token');
                axios.get('api/getUserMessages/' + id + '?token=' + Token)
                    .then(function (response) {
                        _this.chat.message_all = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getTime() {
                let time = new Date();
                return time.getHours() + ':' + time.getMinutes();
            },
            get_friends() {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.get('api/get_friends?token=' + Token)
                    .then(function (response) {
                        _this.friends = response.data.get_friends;
                        _this.auth_id = response.data.id;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        },
        created() {
            Echo.private('Chat')
                .listen('ChatEvent', (e) => {
                    this.chat.message_all.push(e);
                    this.chat.user.push(e.user.f_name);
                    this.chat.time.push(this.getTime());
                })
                .listenForWhisper('typing', (e) => {
                    if (e.name != '') {
                        this.typing = 'typing';
                    } else {
                        this.typing = '';
                    }
                });

            Echo.join(`Chat`)
                .here((users) => {
                })
                .joining((user) => {
                })
                .leaving((user) => {
                });
        },
        components: {
            newsfeedsimilar,
            HeaderComp
        }
    }
</script>
