<template>
    <div class="container">
        <div id="page-contents">
            <div class="container">
                <div class="row">
                    <HeaderComp></HeaderComp>
                    <br>
                    <!-- Newsfeed Common Side Bar Left
                    ================================================= -->
                    <newsfeedsimilar></newsfeedsimilar>
                    <div class="col-md-7">
                        <!-- Post Create Box
                        ================================================= -->
                        <!-- Post Content
                        ================================================= -->
                        <div v-if="posts == ''">
                            <h1>No post Available</h1>
                        </div>
                        <div v-else class="post-content" v-for="(post , index) in posts">
                            <img v-if="post.image != null " :src="'/storage/uploads/UserPost/'+post.image"
                                 alt="post-image" class="img-responsive post-image"/>
                            <div class="post-container">
                                <img :src="'storage/uploads/'+profileImg.image" alt="user"
                                     class="profile-photo-md pull-left"/>
                                <div class="post-detail">
                                    <div class="user-info">
                                        <h5><a href="timeline.html" class="profile-link">{{profileName }}</a> <span
                                                class="following">following</span></h5>
                                        <p class="text-muted">Published a photo about 3 mins ago</p>
                                    </div>
                                    <div class="reaction">
                                        {{ post.id }}
                                        <br>
                                        {{ likes_post_id }}
                                        <a class="btn text-green" @click.prevent="liked(post.id)"><i
                                                class="icon ion-thumbsup"></i>{{ likes }}</a>
                                        <a class="btn text-red" @click.prevent="disliked(post.id)"><i
                                                class="fa fa-thumbs-down"></i> 0</a>
                                    </div>
                                    <div class="line-divider"></div>
                                    <div class="post-text">
                                        <p> {{ post.caption }}<i class="em em-anguished"></i> <i
                                                class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                                    </div>
                                    <div class="line-divider"></div>
                                    <div v-for="comment in comments">
                                        <div class="post-comment" v-if="comment.model_id == post.id">
                                            <img :src="'/storage/uploads/'+userImg" alt="" class="profile-photo-sm"/>
                                            <p><a href="timeline.html" class="profile-link">{{ userName }} </a><i
                                                    class="em em-laughing"></i> {{ comment.details }}</p>
                                        </div>
                                    </div>
                                    <div class="post-comment">
                                        <img :src="'/storage/uploads/'+userImg" alt="" class="profile-photo-sm"/>
                                        <input type="text" class="form-control" placeholder="Post a comment"
                                               v-model="comment[index]" v-on:keyup.enter="addComment(post.id , index)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Newsfeed Common Side Bar Right
                    ================================================= -->
                    <div class="col-md-2 static">
                        <div class="suggestions" id="sticky-sidebar">
                            <h4 class="grey">Who to Follow</h4>
                            <div class="follow-user" v-for="follower in followers">
                                <img v-if="follower.user_image == null" src="storage/uploads/dummy.jpg" alt=""
                                     class="profile-photo-sm pull-left"/>
                                <img v-else :src="'storage/uploads/'+follower.user_image.image" alt=""
                                     class="profile-photo-sm pull-left"/>
                                <div>
                                    <h5>
                                        <router-link :to="{ name: 'friendsProfile', params: { userId: follower.id }}">
                                            <a>{{ follower.f_name }}</a></router-link>
                                        <a href="timeline.html"></a></h5>
                                    <router-link :to="{ name: 'friendsProfile', params: { userId: follower.id }}"><a
                                            href="#" class="text-green">Add friend</a></router-link>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import newsfeedsimilar from './newsfeedSimilar'

    import HeaderComp from './HeaderComponent'
    export default {
        mounted() {
            this.ClickedFn();
            this.who_to_follow();
            this.get_newsfeed_simillar();
            let _this = this;
            let Token = localStorage.getItem('token');
            axios.get('/api/get_Image?token=' + Token)
                .then(function (response) {
                    if (response.data.status == "Token is Invalid") {
                        Token = null;
                        _this.$router.push('/');
                    } else if (response.data.status == "Token is Expired") {
                        Token = null;
                        _this.$router.push('/');
                    } else if (response.data.status == "Authorization Token not found") {
                        Token = null;
                        _this.$router.push('/');
                    } else {
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        data() {
            return {
                posts: [],
                comments: [],
                userName: '',
                userImg: '',
                comment: [],
                likes: 0,
                addlike: 0,
                followers: {},
                profileName: '',
                profileImg: '',
                likes_post_id: ''
            }
        },
        methods: {
            who_to_follow() {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.get('/api/who_to_follow?token=' + Token)
                    .then(function (response) {
                        _this.followers = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            get_newsfeed_simillar() {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.get('/api/get_user_newsfeed_similar_data?token=' + Token)
                    .then(function (response) {
                        _this.profileName = response.data.userName;
                        _this.profileImg = response.data.userImg;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            ClickedFn() {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.get('/api/get_newsFeed?token=' + Token)
                    .then(function (response) {
                        _this.posts = response.data.posts;
                        _this.comments = response.data.post_action;
                        _this.userName = response.data.userName;
                        _this.userImg = response.data.userImg.image;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            addComment(p_id, index) {
                let _this = this;
                let comm = _this.comment[index];
                let Token = localStorage.getItem('token');
                if (comm != "") {
                    let params = {post_id: p_id, comment: comm};
                    axios.post('/api/add_comments?token=' + Token, params)
                        .then(function (response) {
                            _this.comments.push(response.data);
                            comm = '';
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            liked(id) {
                let _this = this;
                let Token = localStorage.getItem('token');
                alert(id);
                axios.post('/api/liked?token=' + Token, {'post_id': id})
                    .then(function (response) {
                        _this.likes = response.data.likes;
                        _this.likes_post_id = response.data.post_id;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            disliked(id) {

            }
        },
        components: {
            newsfeedsimilar,
            HeaderComp
        },
        created() {
            Echo.private('Comments')
                .listen('CommentEvent', (e) => {
                    this.comments.push(e.comment);
                });
        }
    }
</script> 
