<template>
    <div>

        <ul class="dropdown-menu page-list">
            <li v-for="n in sender_data">
                <router-link :to="{ name: 'friendsProfile', params: { userId: n.data.user.id }}"> {{ n.data.user.f_name
                    }} Sent You Request
                </router-link>
            </li>
            <br>
        </ul>
    </div>
</template>
<script>
    export default {
        mounted() {
        },
        data() {
            return {
                notifications: {},
                count: '',
                sender_data: []
            }
        },
        methods: {
        },
        created() {
            let _this = this;
            let Token = localStorage.getItem('token');
            axios.post('/api/get_notifications?token=' + Token)
                .then(function (response) {
                    _this.count = response.data.count;
                    _this.sender_data = response.data.all_notifications;
                    _this.$emit('counter', _this.count);
                })
                .catch(function (error) {
                    console.log(error);
                });
            // let userId = document.head.querySelector('meta[name="userId"]').content;
            // Echo.private('App.User.' + userId).notification((notification) => {
            //     _this.sender_data.push(notification);
            //     _this.$emit('counter', notification.data.count);
            // });
        }
    }
</script>
