<template>
    <div class="container-fluid">
        <h3>Register Now !!!</h3>
        <p class="text-muted">Be cool and join today. Meet millions</p>
        <p class="text-red">{{ error_msg }}</p>
        <p class="text-success">{{ success_msg }}</p>
        <form name="registration_form" id='registration_form' class="form-inline">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="firstname" class="sr-only">First Name</label>
                    <input id="firstname" class="form-control input-group-lg" type="text"
                           v-model="registerData.f_name"
                           name="firstname" title="Enter first name" placeholder="First name"/>
                </div>
                <div class="form-group col-xs-6">
                    <label for="lastname" class="sr-only">Last Name</label>
                    <input id="lastname" class="form-control input-group-lg" type="text" v-model="registerData.l_name" name="lastname" title="Enter last name" placeholder="Last name"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="email" class="sr-only">Email</label>
                    <label>{{ message }}</label><!--v-on:blur="check_email_in_db()"-->
                    <input id="email" class="form-control input-group-lg" v-on:blur="check_email_in_db()" type="text" v-model="registerData.email" name="Email" title="Enter Email" placeholder="Your Email"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" class="form-control input-group-lg"  v-bind:style="error_section" type="password" v-model="registerData.password" name="password" title="Enter password" placeholder="Password"/>
                </div>
            </div>
            <div class="row">
                <p class="birth"><strong>Date of Birth</strong></p>
                <div class="form-group col-sm-3 col-xs-6">
                    <label for="month" class="sr-only"></label>
                    <select class="form-control" v-model="registerData.date" id="date">
                        <option value="Day" disabled selected>Day</option>
                        <option v-for="day in 31" :value="day">{{ day }}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <label for="month" class="sr-only"></label>
                    <select class="form-control" v-model="registerData.month" id="month">
                        <option value="month" disabled selected>Month</option>
                        <option>Jan</option>
                        <option>Feb</option>
                        <option>Mar</option>
                        <option>Apr</option>
                        <option>May</option>
                        <option>Jun</option>
                        <option>Jul</option>
                        <option>Aug</option>
                        <option>Sep</option>
                        <option>Oct</option>
                        <option>Nov</option>
                        <option>Dec</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="year" class="sr-only"></label>
                    <select class="form-control" v-model="registerData.year" id="year">
                        <option value="year" disabled selected>Year</option>
                        <option v-for="year in getCurrentYear" :value="year">{{ year }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group gender">
                <label class="radio-inline">
                    <input type="radio" :checked="true" name="optradio" v-model="registerData.gender" value="M">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" v-model="registerData.gender" value="F">Female
                </label>
            </div>
            <p><a href="#"></a></p>
            <button class="btn btn-primary" type="button" @click.prevent="registerPost()">Register Now</button>
        </form>


    </div>
</template>

<script>
    export default {
        mounted() {

            },
        data() {
            return {
                registerData: {
                    f_name: '',
                    l_name:'',
                    email:'',
                    password:'',
                    date : '1',
                    month : 'Jan',
                    year : '2000',
                    gender : 'M'
                },
                error_section : {

                },
                hasErrors: {
                    f_name: false,
                    l_name: false,
                    email: false,
                    password: false,
                    text_color: true
                },
                message : '',
                error_msg : '',
                success_msg : ''
            }
        },
        computed : {
            getCurrentYear () {
                const year = new Date().getFullYear();
                return Array.from({length: year - 1990}, (value, index) => 1991 + index);
            }
        },
        watch : {
            'registerData.email': {
                handler: function (val) {
                    var _this = this;
                    _this.email = val;
                    console.log(val);
                    _this.check_email(val);
                }
            },
            'registerData.password': {
                handler : function (val) {
                    var _this = this;
                    _this.password = val;
                    _this.check_password(val);
                }
            }
        },
        methods: {
            check_email(value)
            {
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)){
                    document.getElementById("email").style.borderColor="#f1f2f2";
                }else{
                    document.getElementById("email").style.borderColor="red";
                }
            },
            check_password(value) {
                if (value.length < 6){
                    document.getElementById("password").style.borderColor="red";
                }else{
                    document.getElementById("password").style.borderColor="#f1f2f2";
                }
            },
            check_email_in_db () {
                var _this= this;
                var email = _this.email;
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)){
                    axios.post('/api/checkEmail' ,{'email_val' : email})
                        .then(function (response) {
                            if (response.data == "done"){
                                _this.message = "OK";
                            }else{
                                _this.message = "Email already Exists";
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            registerPost() {
                var _this = this;
                _this.message = '';
                axios.post('/api/register' , _this.registerData)
                    .then(function (response) {
                        if(response.data.success == false){
                            _this.error_msg = "Please Fill The Form Correctly";
                            _this.$toast.error({
                                title:'Error',
                                message:'Please Fill The Form Correctly'
                            });
                        }else{
                            _this.error_msg = "";
                            _this.success_msg = "Thank You! You are Register Successfully, Please Login";
                            _this.$toast.success({
                                title:'Success',
                                message:'Thank You! You are Register Successfully, Please Login'
                            });
                            $("#registration_form")[0].reset();
                        }
                    })
                    .catch(function (error) {
                        console.log(error.f_name);
                    });

            }
        }

    }
</script>

<style>
    .text_color
    {
        border: 1px solid red;
    }
</style>