<template>


    <div class="container">
        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <profileHeader @added="get_posts"></profileHeader>
            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-7">

                        <div class="create-post">
                            <div class="row">
                                <form>
                                    <div class="col-md-7 col-sm-7">
                                        <div class="form-group">
                                            <img :src="'storage/uploads/'+postProfile.image" alt=""
                                                 class="profile-photo-md"/>
                                            <textarea v-model="captions" name="texts" id="exampleTextarea" cols="30"
                                                      rows="1" class="form-control"
                                                      placeholder="Write what you wish"></textarea>
                                        </div>
                                        <!-- =======================PREVIEW IMAGE=================== -->
                                        <div v-if="price_input">
                                            <input type="text" class="form-control" name="price"
                                                   placeholder="Add Price Here" v-model="price">
                                        </div>
                                        <!-- =======================PREVIEW IMAGE======================= -->
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="tools">
                                            <ul class="publishing-tools list-inline">
                                                <li><a href="#"><i class="ion-compose"></i></a></li>
                                                <li><label for="postUpload">
                                                    <i class="ion-images" style="font-size: 18px; cursor: pointer;"></i>
                                                </label></li>
                                                <li>
                                                    <input id="add_price" type="checkbox" name="add_price" value="Y"
                                                           v-on:click="price_input = !price_input">
                                                </li>
                                            </ul>
                                            <input type="file" name="file" ref="postImage" id="postUpload" style="">
                                            <button class="btn btn-primary pull-right" @click.prevent="add_post()">
                                                Publish
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div><!-- Post Create Box End-->
                        <!--Dynamically post add-->
                        <!-- Post Content
                        ================================================= -->
                        <div class="post-content" v-for="(post , index) in posts">
                            <!--Post Date-->
                            <div class="post-date hidden-xs hidden-sm">
                                <h5>{{ userName }}</h5>
                                <p class="text-grey">Sometimes ago</p>
                            </div><!--Post Date End-->
                            <img v-if="post.image != null " :src="'storage/uploads/UserPost/'+post.image"
                                 alt="post-image" class="img-responsive post-image"/>
                            <div class="post-container">
                                <img :src="'storage/uploads/'+postProfile.image" alt="user"
                                     class="profile-photo-md pull-left"/>
                                <div class="post-detail">
                                    <div class="user-info">
                                        <h5><a href="timeline.html" class="profile-link">{{ userName }}</a> <span
                                                class="following">following</span></h5>
                                    </div>
                                    <div class="reaction">
                                        <a class="btn text-green"><i class="icon ion-thumbsup"></i></a>
                                        <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                                        <a class="btn btn-danger btn-sm" @click.prevent="delPost(post.id)">Del</a>
                                    </div>
                                    <div class="line-divider"></div>
                                    <div class="post-text">
                                        <p v-if="post.caption != null">{{ post.caption }} <i
                                                class="em em-anguished"></i> <i class="em em-anguished"></i> <i
                                                class="em em-anguished"></i></p>
                                    </div>
                                    <div class="line-divider"></div>
                                    <div v-for="(comments , index) in post_comments">
                                        <div class="post-comment" v-if="comments.model_id == post.id">
                                            <p>
                                                <a href="timeline.html" class="profile-link"
                                                   v-if="commented_user.id != auth_id"> {{ commented_user.f_name }} </a>
                                                <a href="timeline.html" class="profile-link" v-else> {{ userName }} </a>
                                                <a @click.prevent="CommentDelete(comments.id , post.id)"
                                                   style="cursor : pointer; color: red;">Del</a> <i
                                                    class="em em-laughing"></i> {{ comments.details }}</p>
                                        </div>
                                    </div>
                                    <div class="post-comment">
                                        <img :src="'storage/uploads/'+userImg.image" alt="" class="profile-photo-sm"/>
                                        <input type="text" class="form-control" placeholder="Post a comment"
                                               v-model="comment[index]" v-on:keyup.enter="addComment(post.id , index)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</template>


<script>

    import profileHeader from './ProfileHeader.vue'
    export default {
        mounted() {
            this.get_posts();
            this.get_comments();
            let userId = document.head.querySelector('meta[name="userId"]').content;
            this.auth_id = userId;
        },
        data() {
            return {
                auth_id: '',
                captions: '',
                postImg: '',
                commented_user: [],
                countries: {},
                price_input: false,
                price_box: '',
                price: '',
                posts: [],
                postProfile: {},
                comment: [],
                post_comments: [],
                like: 0,
                dislike: 0,
                userImg: '',
                post_index: [],
                userName: '',
                page: 1
            }
        },
        computed: {},
        methods: {
            addComment(id, index) {
                let comm = this.comment[index];
                let _this = this;
                let post_id = id;
                let like = _this.like;
                let dislike = _this.dislike;
                let Token = localStorage.getItem('token');
                axios.post('/api/post_action/' + post_id + '?token=' + Token, {'comment': comm})
                    .then(function (response) {
                        _this.post_comments = response.data.result;
                        _this.userImg = response.data.userImg.image;
                        _this.userName = response.data.userName;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },

            CommentDelete(id, p_id) {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.post('/api/deleteComment/' + id + '?token=' + Token, {'post_id': p_id})
                    .then(function (response) {
                        _this.post_comments = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            delPost(id) {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.post('/api/delPost/' + id + '?token=' + Token, {'post_id': id})
                    .then(function (response) {
                        _this.posts = response.data;
                        _this.$toast.success({
                            title: 'Success',
                            message: 'Post Deleted successfully'
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            get_comments() {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.get('/api/all_comments?token=' + Token)
                    .then(function (response) {
                        _this.post_comments = response.data.comments;
                        _this.userImg = response.data.userImg;
                        _this.userName = response.data.userName;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            ImageSaved(e) {
                let _this = this;
                _this.postImg = e.target.files[0].name;
            },
            add_price() {
                this.price_input = false;
            },
            add_post() {
                this.postImg = this.$refs.postImage.files[0];
                let _this = this;
                let formData = new FormData();
                formData.append('caption', _this.captions);
                formData.append('file', _this.postImg);
                formData.append('price', _this.price);
                let Token = localStorage.getItem('token');
                axios.post('/api/addPost?token=' + Token, formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(function (response) {
                        _this.posts = response.data;
                        _this.captions = '';
                        _this.postImg = '';
                        _this.price = '';
                        _this.$toast.success({
                            title: 'Success',
                            message: 'Post Added successfully'
                        })
                    }).catch(function (error) {
                    _this.$toast.error({
                        title: 'Failed',
                        message: 'Post Failed'
                    })
                });
            },
            get_posts(img = null) {
                let _this = this;
                let Token = localStorage.getItem('token');
                axios.get('/api/get_posts?token=' + Token)
                    .then(function (response) {
                        _this.posts = response.data.posts;
                        _this.postProfile = response.data.userImg;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        components: {
            profileHeader,
            },
        created() {
            Echo.private('Comments')
                .listen('CommentEvent', (e) => {
                    this.commented_user = e.user;
                    this.post_comments.push(e.comment);
                });
        }
    }
</script>