<template>
    <div class="container">
        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <div class="timeline-cover">
                <!--Timeline Menu for Large Screens-->
                <div class="timeline-nav-bar hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-info">
                                <img :src="'/storage/uploads/'+profileImg"  alt=""
                                     class="img-responsive profile-photo"/>
                                <h3>{{ user.f_name }} {{ user.l_name }}</h3>
                                <p class="text-muted">{{ profile.work_designation }}</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-inline profile-menu">
                                <li><a v-on:click="show_about($route.params.userId)" style="cursor: pointer;">About</a></li>
                                <li><a v-on:click="show_album()" style="cursor: pointer;">Album</a></li>
                                <li><a v-on:click="show_timeline()" style="cursor: pointer;">Timeline</a></li>
                                <li><a v-on:click="show_friends()" style="cursor: pointer;">Friends</a></li>
                            </ul>
                            <ul class="follow-me list-inline">
                                <li> {{ followers }} people following her </li>
                                <li>
                                    <button :class="buttonClass"
                                            @click.prevent="add_friendCustom($route.params.userId, request_status)">
                                        {{buttonText}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!--Timeline Menu for Large Screens End-->
            </div>
            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3">
                        <!--Edit Profile Menu-->
                    </div>
                    <div class="col-md-7">
                        <div class="about-profile" v-if="!about">
                            <div class="about-content-block">
                                <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Personal
                                    Information</h4>
                                <p>{{ user.description }}</p>
                            </div>
                            <div class="about-content-block">
                                <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Work Experiences
                                </h4>
                                <div class="organization">
                                    <img src="storage/uploads/company_log.jpg" alt="" class="pull-left img-org"/>
                                    <div class="work-info">
                                        <h5>{{ profile.work_company }}</h5>
                                        <p>{{ profile.work_designation }} <span class="text-grey">
                        {{ profile.work_from }} To {{ profile.work_to }}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="about-content-block">
                                <h4 class="grey"><i class="ion-ios-location-outline icon-in-title"></i>Location</h4>
                                <p>{{ profile.work_city }}</p>

                            </div>
                            <div class="edit-block">
                                <ul class="list-inline interests">
                                    <li v-for="userInterest in userInterests">
                                        <span> {{ userInterest.interest }}</span>
                                    </li>
                                </ul>
                                <div class="line"></div>
                            </div>
                            <div class="about-content-block">
                                <h4 class="grey"><i class="ion-ios-chatbubble-outline icon-in-title"></i>Language</h4>
                                <ul>
                                    <li><a href="#">Russian</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--
                         =======================AlBum===================
                       -->
                        <div class="post-content" v-if="!timeline">
                            <!--Post Date-->
                            <!-- Post Content
                       ================================================= -->
                            <div class="post-content" v-for="(post , index) in posts">
                                <!--Post Date-->
                                <div class="post-date hidden-xs hidden-sm">
                                    <h5>{{ userName }}</h5>
                                    <p class="text-grey">Sometimes ago</p>
                                </div><!--Post Date End-->
                                <img v-if="post.image != null " :src="'storage/uploads/UserPost/'+post.image"
                                     alt="post-image" class="img-responsive post-image"/>
                                <div class="post-container">
                                    <img :src="'storage/uploads/'+postProfile.image" alt="user"
                                         class="profile-photo-md pull-left"/>
                                    <div class="post-detail">
                                        <div class="user-info">
                                            <h5><a href="timeline.html" class="profile-link">{{ userName }}</a> <span
                                                    class="following">following</span></h5>
                                        </div>
                                        <div class="reaction">
                                            <a class="btn text-green"><i class="icon ion-thumbsup"></i></a>
                                            <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                                        </div>
                                        <div class="line-divider"></div>
                                        <div class="post-text">
                                            <p v-if="post.caption != null">{{ post.caption }} <i
                                                    class="em em-anguished"></i> <i class="em em-anguished"></i> <i
                                                    class="em em-anguished"></i></p>
                                        </div>
                                        <div class="line-divider"></div>
                                        <div v-for="(comments , index) in post_comments">
                                            <div class="post-comment" v-if="comments.model_id == post.id">
                                                <p>
                                                    <a href="timeline.html" class="profile-link"
                                                       v-if="commented_user.id != auth_id"> {{ commented_user.f_name }} </a>
                                                    <a href="timeline.html" class="profile-link" v-else> {{ userName }} </a>
                                                  <i class="em em-laughing"></i> {{ comments.details }}</p>
                                            </div>
                                        </div>
                                        <div class="post-comment">
                                            <img :src="'storage/uploads/'+userImg.image" alt="" class="profile-photo-sm"/>
                                            <input type="text" class="form-control" placeholder="Post a comment"
                                                   v-model="comment[index]" v-on:keyup.enter="addComment(post.id , index)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <ul class="album-photos" v-if="!album">
                            <li v-for="(userImg , index) in userImgs">
                                {{ userImg.image}}
                                <div class="img-wrapper" data-toggle="modal" :data-target="'#'+index">
                                    <img :src="'storage/uploads/'+userImg.image" alt="photo"/>
                                </div>
                                <div class="modal fade photo-1" :id="index" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <img :src="'storage/uploads/'+userImg.image" alt="photo"/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="post-content" v-if="!friends">
                            <!--Post Date-->
                            <div class="post-container" style="cursor: pointer;">
                                FRIENDS
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 static">

                        <!--Sticky Timeline Activity Sidebar-->
                        <div id="sticky-sidebar">
                            <h4 class="grey">{{ user.f_name }}'s activity</h4>
                            <div class="feed-item" v-for="l in log">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">{{ user.f_name }}</a> {{ l.action}}</p>
                                    <!--                                        <p class="text-muted">5 mins ago</p>-->
                                    <vue-moments-ago prefix="posted" suffix="ago" date="2019-06-27 20:18:50" ></vue-moments-ago>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    import axios from 'axios'
    import VueMomentsAgo from 'vue-moments-ago'
    export default {
        mounted() {
            this.show_about(this.$route.params.userId);
            this.get_add_friend();
            this.getFollowers();
            this.activity_log();
            this.get_posts();
            this.get_comments();
            this.url_id = this.$route.params.userId;
            this.auth_id = document.head.querySelector('meta[name="userId"]').content;
        },
        data() {
            return {
                about           : false,
                timeline        : true,
                album           : true,
                friends         : true,
                userImg         : '',
                user            : {},
                posts           : {},
                userImgs        : {},
                userInterests   : {},
                profile         : {},
                profileImg      : {},
                request_status  : 5,
                url_id          : '',
                auth_id         : '',
                sender_id       : '',
                receiver_id     : '',
                buttonClass     : '',
                buttonText      : '',
                followers       : '',
                log             : [],
                username        : '',
                post_comments: [],
                userImg: '',
                userName : '',
                posts: [],
                postProfile: {},
                comment: [],
                post_comments: [],
                commented_user: [],
                user_fname : []

            }
        },
        computed: {},
        methods: {
            addComment(id, index) {
                let comm = this.comment[index];
                let _this = this;
                let post_id = id;
                let like = _this.like;
                let dislike = _this.dislike;
                let Token = localStorage.getItem('token');
                axios.post('/api/post_action/' + post_id + '?token=' + Token, {'comment': comm})
                    .then(function (response) {
                        _this.post_comments             = response.data.result;
                        _this.userImg                   = response.data.userImg.image;
                        _this.userName                  = response.data.userName;
                        _this.comment_userImage         = response.data.comment_userImage;
                        _this.user_fname                = response.data.f_name;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            get_comments() {
                let _this = this;
                let userId = _this.$route.params.userId;
                let Token = localStorage.getItem('token');
                axios.post('/api/all_friends_comments?token='+ Token, {'user_id' : userId})
                    .then(function (response) {
                        _this.post_comments     = response.data.comments;
                        _this.userImg           = response.data.userImg;
                        _this.userName          = response.data.userName;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            get_posts(img = null) {
                let _this = this;
                let userId = _this.$route.params.userId;
                let Token = localStorage.getItem('token');
                axios.post('/api/get_friends_posts?token=' + Token , {'user_id' : userId})
                    .then(function (response) {
                        _this.posts = response.data.posts;
                        _this.postProfile = response.data.userImg;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            activity_log(){
                let Token = localStorage.getItem('token');
                let _this = this;
                axios.get('/api/activity-log?token='+Token)
                    .then(function (response) {
                        _this.log           = response.data.log;
                        _this.username      = response.data.username;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            show_about(id) {
                let _this = this;
                let userId = id;
                _this.about = false;
                _this.timeline = true;
                _this.album = true;
                _this.friends = true;
                let Token = localStorage.getItem('token');
                axios.post('/api/get_friend_info/?token='+Token , {'user_id' : userId})
                    .then(function (response) {
                        _this.user = response.data.user;
                        _this.posts = response.data.posts;
                        _this.userImgs = response.data.userImg;
                        _this.profile = response.data.profile;
                        _this.userInterests = response.data.userInterest;
                        _this.profileImg = response.data.profileImg;
                        // console.log('ss');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            show_album() {
                this.about = true;
                this.timeline = true;
                this.album = false;
                this.friends = true;
            },

            setRequestButton(status) {
                if (status == 5) {
                    this.buttonText = 'add friend';
                    this.buttonClass = 'btn-primary';
                }
                if (status == 0) {
                    this.buttonText = 'Request Sended';
                    this.buttonClass = 'btn-info';
                }
                if (status == 1) {
                    this.buttonText = 'friend';
                    this.buttonClass = 'btn-success';
                }
                if (status == 2) {
                    this.buttonText = 'Blocked';
                    this.buttonClass = 'btn-danger';
                }
            },
            show_friends() {
                this.about = true;
                this.timeline = true;
                this.album = true;
                this.friends = false;

            },
            show_timeline() {
                this.about = true;
                this.timeline = false;
                this.album = true;
                this.friends = true;
            },
            friend_request() {
                let _this = this;
                axios.post('/api/friend_request')
                    .then(function (response) {
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            add_friendCustom(id, status) {
                let _this = this;
                let userId = id;
                if ((status == 2)) {//for already blocked or freind request already Sended
                    return;
                }
                status = (status == 5 ? 0 : -1);
                let Token = localStorage.getItem('token');
                axios.post('/api/addFriendCustom?token='+Token , {'user_id': userId, 'status': status})
                    .then(function (response) {
                        _this.request_status = response.data;
                        _this.setRequestButton(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            accept_request(id) {
                let _this = this;
                axios.post('/api/accept_Request/' + userId)
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            get_add_friend() {
                let _this = this;
                let userId = _this.$route.params.userId;
                let Token = localStorage.getItem('token');
                axios.post('/api/get_add_friend/?token='+Token, {'user_id': userId})
                    .then(function (response) {
                        _this.request_status = response.data;
                        _this.setRequestButton(_this.request_status);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getFollowers(){
                let _this = this;
                let userId = _this.$route.params.userId;
                let Token = localStorage.getItem('token');
                axios.post('/api/get_friend_follower/?token='+Token, {'user_id': userId})
                    .then(function (response) {
                        _this.followers = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        components:{
            VueMomentsAgo
        }
    }
</script>
